<a href="https://colab.research.google.com/github/tatalo418/Programacion_itm/blob/main/Hoja_de_trabajo_marzo_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Primera = "holamundo"
print (Primera)
print('\n')
print(Primera.upper())


print(type(Primera))

holamundo


HOLAMUNDO
<class 'str'>

In [ ]:
nom = "santiago"
animal = "Leon"
present = "buen día, mi nombre es {} y soy un {} "

print(present.format(nom,animal))
print(f"voy a presentarme, mi nombre es {nom}")

buen día, mi nombre es santiago y soy un Leon
voy a presentarme, mi nombre es santiago

Crear lista en phyton

In [ ]:
hermanos = ["tomas","susana","esteban","cualquiera"]
print(hermanos)
print("\n")
print(type(hermanos))

['tomas', 'susana', 'esteban', 'cualquiera']


<class 'list'>

Seleccionar un dato en especifico de la lista de datos

In [ ]:
print(hermanos[1])
print("\n")
hermano1 = hermanos[1]
print(hermano1)

susana


susana

Para seleccionar los 2 primeros datos de la lista (este es un slice que sirve para tomar las posiciones del 0 al 2, sin incluir el 2.)

In [ ]:
print(hermanos[:2])

['tomas', 'susana']

Para seleccionar los ultimas 3 posiciones de la lista ( este es un slice que sirve para tomar la posición entregada, de ahi hacia adelante, incluyendo la posición dada)

In [ ]:
print(hermanos[1:])

['susana', 'esteban', 'cualquiera']

El cuenta 3 posiciones de atras hacia adelante e incluye la tercera posicion

In [ ]:
print(hermanos[-3:])

['susana', 'esteban', 'cualquiera']

El cuenta una posicion hacia atras y las toma todas a excepcion de la posicion dada

In [ ]:
print(hermanos[:-1])

['tomas', 'susana', 'esteban']

saltar elementos de la lista n usando codigo
para numeros pares utilizamos el siguiente codigo
lista[inicio:fin:paso]

In [ ]:
print(hermanos[1::2])

['susana', 'cualquiera']

Para numeros impares

In [ ]:
print(hermanos[::2])

['tomas', 'esteban']

Para optener el sentido inverso de la lista, el orden debe ser un numero negativo

In [ ]:
print(hermanos[::-1])

['cualquiera', 'esteban', 'susana', 'tomas']

Longitud de la lista
La longitud de una lista se aprecia utilizando el comando len

In [ ]:
print(len(hermanos))

4

**utilicemos codigo para avanzar **

In [ ]:
numeros = ["5","10","15","20","25","30","35","40"]
print(numeros)
print("\n")
print(numeros[5])
seleccion = (numeros[5])
print(seleccion)

['5', '10', '15', '20', '25', '30', '35', '40']


30
30

Ahoa utilicemos lo de seleccionar posiciones algunas por ejemplo pares

In [ ]:
print(numeros[1::2])

['10', '20', '30', '40']

Ahora impares

In [ ]:
print(numeros[::2])

['5', '15', '25', '35']

Ahora de la posicion 0 en adelante, sin incluir la posicion 4

In [ ]:
print(numeros[:4])

['5', '10', '15', '20']

Ahora de la posicion 4 hacia adelante, incluyendo la posicion 4

In [ ]:
print(numeros[4:])

['25', '30', '35', '40']

Utilicemos posiciones negativas

In [ ]:
print(numeros[:-1])

['5', '10', '15', '20', '25', '30', '35']

In [ ]:
print(numeros[-1:])

['40']

Lista de numeros inversa

In [ ]:
print(numeros[::-1])

['40', '35', '30', '25', '20', '15', '10', '5']

Ahora vamos a concatenar ambas listas, de hermanos y numeros

In [ ]:
print(hermanos+numeros)

['tomas', 'susana', 'esteban', 'cualquiera', '5', '10', '15', '20', '25', '30', '35', '40']

Añadir elementos a las listas

In [ ]:
hermanos.append("michel")
print(len(hermanos))
print(hermanos)

5
['tomas', 'susana', 'esteban', 'cualquiera', 'michel']

In [ ]:
numeros.append("45")
print(len(numeros))
print(numeros)

9
['5', '10', '15', '20', '25', '30', '35', '40', '45']

Las listas se pueden multiplicar por numeros enteros

In [ ]:
print(hermanos*3)

['tomas', 'susana', 'esteban', 'cualquiera', 'michel', 'tomas', 'susana', 'esteban', 'cualquiera', 'michel', 'tomas', 'susana', 'esteban', 'cualquiera', 'michel']

crear una nueva lista y concatenarla con hermanos

In [ ]:
dias = ["lunes", "martes", "miercoles","jueves", "viernes"]
print(dias)
print("\n")
print(hermanos+dias)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes']


['tomas', 'susana', 'esteban', 'cualquiera', 'michel', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes']

In [ ]:
dias.append("sabado")
print(dias)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado']

Modificar los datos de una lista

In [ ]:
hermanos[3]= "Luis"
print(hermanos)

['tomas', 'susana', 'esteban', 'Luis', 'michel']

Modificar rangos de la lista sin importar el tamaño inicial

In [ ]:
hermanos[:1]=("santiago","duban","felipe")
print(hermanos)

['santiago', 'duban', 'felipe', 'susana', 'esteban', 'Luis', 'michel']

validar si un dato existe dentro de una lista y conjunto de datos

In [ ]:
print("\n")
print("Luis" in hermanos)

True

In [ ]:
print(numeros)
print("\n")
print("30" in numeros)

['5', '10', '15', '20', '25', '30', '35', '40', '45']


True

Buscar la posicion de un dato en una lista determinada

In [ ]:
print(hermanos)
print("\n")
print("la posicion del dato santiago en la lista es: {}".format(hermanos.index("santiago")))

['santiago', 'duban', 'felipe', 'susana', 'esteban', 'Luis', 'michel']


la posicion del dato santiago en la lista es: 0

In [ ]:
print("la posicion de susana es:{}" .format(hermanos.index("susana")))

la posicion de susana es:3

In [ ]:
print("la posicion de esteban es:{}".format(hermanos.index("esteban")))

la posicion de esteban es:4

In [ ]:
hermanos.append("castro")
print(hermanos)

['santiago', 'duban', 'felipe', 'susana', 'esteban', 'Luis', 'michel', 'castro']

In [ ]:
print("la posicion de castro es {}".format (hermanos.index("castro")))

la posicion de castro es 7

In [ ]:
hermanos[9]="zamira"
print(hermanos)

IndexError: list assignment index out of range

Eliminar datos de alguna de las listas creadas

In [ ]:
print(len(hermanos))
print("\n")
hermanos.pop(6)
print(hermanos)
print("\n")
print(len(hermanos))

In [ ]:
print(hermanos)

In [ ]:
hermanos.pop(0)
print(hermanos)

In [ ]:
hermanos.append("santiago")
print(hermanos)

In [ ]:
print("la posicion del dato santiago es {}" . format(hermanos.index("santiago")))

In [ ]:
hermanos[1]= "yamile"
print(hermanos)

In [ ]:
hermanos.pop(0)
print(hermanos)

In [ ]:
print(hermanos[::-1])

In [ ]:
print(hermanos[3:])

In [ ]:
print(hermanos[:1])

como ordenar las diferentes listas que tenemos

In [ ]:
hermanos.sort()
print(hermanos)

In [ ]:
hermanos[0] = "luis"
print(hermanos)

In [ ]:
hermanos.sort()
print(hermanos)

Eliminar dato en especifico

In [ ]:
hermanos.pop(hermanos.index("susana"))
print(hermanos)

In [ ]:
print("la posicion del campo michel en la lista es: {}" .format(hermanos.index("michel")))

In [ ]:
hermanos.append("valen")
print(hermanos)

creemos una lista

In [ ]:
jugos =["naranja","mango","lulo","mora"]
print (jugos)

In [ ]:
print(jugos[:2])

In [ ]:
jugos.append("cereza")
print(jugos)

In [ ]:
jugos[2]= "limon"
print(jugos)

In [ ]:
jugos.pop(2)
print(jugos)

In [ ]:
print("la posicion de la lista donde esta mora es : {}" .format(jugos.index("mora")))

In [ ]:
print(len(jugos))

In [ ]:
jugos.pop(jugos.index("mora"))
print(jugos)

In [ ]:
jugos.append("tomate")
print(jugos)

In [ ]:
jugos.pop(3)
print(jugos)

In [ ]:
print(jugos[:2])

In [ ]:
print (jugos[1:])

**TUPLAS vamos a ver tuplas ahora mismo**

Se define primero una variable y se ponen los datos en parentesis y en comillas si es texto o si son numeros sin comillas

In [ ]:
Una_lista = ("santiago",25,13)
print (Una_lista)

('santiago', 25, 13)

In [ ]:
print(type(Una_lista))

<class 'tuple'>

Creemos una Tupla con los 4 elementos de la tierra

In [ ]:
elementos = ("tierra","agua","aire","fuego")
print(elementos)
print("\n")
print(type(elementos))

('tierra', 'agua', 'aire', 'fuego')


<class 'tuple'>

Notése que, si bien para crear una lista se hace utilizando los paréntesis, para realizar la indexación se realiza mediante corchetes. podemos vizualizar los elementos de la tupla utilizando el método print, de la siguiente forma:

In [ ]:
 print(elementos[0])

tierra

In [ ]:
print (elementos[0])
print(elementos[1])
print(elementos[2])

tierra
agua
aire

In [ ]:
primer_elemento = elementos[0]
print(primer_elemento)

tierra

De igual forma se puede utilizar una idexación negativa e la siguiente forma: se puede definir el ultimo elemento de la lista como -1, el siguiente como -2 y asi sucesivamente

Por ejemplo, imprimamos el ultimo elemento de la lista

In [ ]:
elementos [-1]

'fuego'

Practica:

Utilizar un índice negativo para obtener el penúltimo elemento de la tupla.

Utilizar un índice negativo para obtener el primer elemento de la tupla.

Penultimo elemento

In [ ]:
elementos [-2]

'aire'

Ahora hallamos el primer elemento utilizando un negativo

In [ ]:
elementos[-len(elementos)]

uilizando la función len y un numero negativo para hallar el ultimo elemento

In [ ]:
elementos [len(elementos)-1]

Utilizamos la funcion len y un numero positivo para hallar el segundo elemento de la lista

In [ ]:
elementos[-len(elementos)+1]

In [ ]:
print(elementos)

In [ ]:
elementos[1]

In [ ]:
print(len(elementos))

In [ ]:
elementos[-1]

In [ ]:
elementos[3]

In [ ]:
elementos [len(elementos)-1]

Recordemos que, la característica principal de las tuplas es que no se pueden modificar los datos, sin embargo, las tuplas se pueden concatenar utilizando el símbolo  +

In [ ]:
Una_lista_2 = Una_lista + ("valentina",12,21)
print(Una_lista_2)

('santiago', 25, 13, 'valentina', 12, 21)

In [ ]:
print("la posición de el elemento 21 es {}". format(Una_lista_2.index(21)))

la posición de el elemento 21 es 5

Podemos convertir una Tupla en lista, y, una lista en Tupla de la siguiente manera

In [ ]:
Es_una_lista = list(Una_lista_2)
print(Es_una_lista)
print(type(Es_una_lista))
Una_lista_2 = tuple (Es_una_lista)
print(Una_lista_2)
print(type(Una_lista_2))

['santiago', 25, 13, 'valentina', 12, 21]
<class 'list'>
('santiago', 25, 13, 'valentina', 12, 21)
<class 'tuple'>

Acceder a los elementos de una Tupla mediante ***slicing o rebanados***

In [ ]:
Una_lista_2[0:3]

('santiago', 25, 13)

El me selecciona desde la posición 0 a 3 sin incluir la 3era posición

Podemos hacer lo mismo desde cualquier posición en adelante

In [ ]:
Una_lista_2[2:4]

(13, 'valentina')

Recorrer la tupla mediante un For

In [ ]:
for dato in Una_lista_2:
    print(dato)

santiago
25
13
valentina
12
21

Como ordenas las tuplas

In [ ]:
funcion_constante = (5,4,6,8,9,2,7)
orden_funcion_costante = sorted (funcion_constante)
print(orden_funcion_costante)
print(type(orden_funcion_costante))
funcion_costante = tuple(orden_funcion_costante)
print(funcion_costante)
print(type(funcion_costante))

[2, 4, 5, 6, 7, 8, 9]
<class 'list'>
(2, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

**Tupla anidada**
Una tupla puede contener otra tupla, así como otros tipos de datos más complejos. Este proceso se llama "anidamiento". Considere la siguiente tupla con varios elementos:

In [ ]:
# Crea una tupla de nido

NestedT = ( 1 ,  2 ,  ( "pop" ,  "rock" )  , ( 3 , 4 ) , ( "disco" , ( 1 , 2 ) ) )

# cada dato que se encuentra dentro del parentesis se toma como si fuera una posicion sola
# es decir que en este caso solo tenemos 5 posiciones.

Ejercicio: Imprimir los tres últimos elementos de la tupla creada.

In [ ]:
NestedT[1:]

# **Diccionarios**

Son conjuntos de claves (keys) que permiten encontrar valores(values). Es decir que para cada clave hay un valor asociado

# se crean sobre corchetes y se almacena el diccionario en una variable

In [ ]:
persona = {
        "nombre":"Luis",
        "Edad": 26,
        "condicion":"discapacitado"
}
print(persona)

{'nombre': 'Luis', 'Edad': 26, 'condicion': 'discapacitado'}

Para acceder a los valores de una clave en especifico, hacemos lo siguiente

In [ ]:
print(persona["nombre"])

Luis

si la clave no existe, el nos muestra un error, por eso utilizamos get
y le damos una opción para cuando la clave no existe. ejemplo

In [ ]:
print(persona.get("altura","no definida"))

Para conocer las claves de un diccionario hacemos lo siguiente

In [ ]:
print(persona.keys())

Ahora convertiremos en una lista las claves de un diccionario

In [ ]:
lista_personas = list(persona.keys())
print(lista_personas)
print(type(lista_personas))

Ahora convertiremos en una lista los valores de un diccionario

In [ ]:
valor_persona = list(persona.values())
print(valor_persona)
print(type(valor_persona))

In [ ]:
print(persona)
print(type(persona))

In [ ]:
oveja = 10

print("para dormir cuento 1 oveja")

while oveja <= 10:
    print("para dormir cuento {} ovejas".format(oveja))
    oveja += 1